<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div
  class="bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    height: 100vh;
    background-size: cover;
  "
>
  <button
    style="border-radius: 30px"
    [routerLink]="['/login']"
    routerLinkActive="active"
  >
    Logout
  </button>
  <br /><br />
  <form #deleteForm="ngForm">
    <table
      *ngIf="students.length"
      datatable
      [dtOptions]="dtOptions"
      class="row-border hover"
      style="background-color: rgb(164, 172, 180)"
    >
      <thead>
        <tr>
          <th>Rollno</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Course</th>
          <th>Fee</th>
          <th>Paid</th>
          <th>due</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Send Email</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let student of students"
          style="background-color: rgb(201, 198, 198)"
        >
          <td>{{ student?.studentId }}</td>
          <td>{{ student?.studentName }}</td>
          <td>{{ student?.emailId }}</td>
          <td>{{ student?.gender }}</td>
          <td>{{ student?.course }}</td>
          <td>{{ student?.fee }}</td>
          <td>{{ student?.paid }}</td>
          <td>{{ student?.duefees }}</td>
          <td>{{ student?.address }}</td>
          <td>{{ student?.contactno }}</td>
          <td>
            <button
              class="button button-edit"
              style="margin-top: 5px; border-radius: 30px; margin-left: 9px"
              (click)="sendEmail(student)"
            >
              CLICK HERE
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
