.button {
  transition-duration: 0.4s;
  color: #ffffff;
  font: bold 12px arial, sans-serif;
  text-align: center;
  background-color: #004c76;
  -webkit-appearance: none;
  padding: 7px 8px 7px 8px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  width: 120px;
  border: #004c76 1px solid;
  /* CORNER ROUNDING */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
